#Git ignore

#Misc temp files:
~*
*.tmp
*.bkp
.$*

#Matlab autosaves
*.asv

#Data from LTspice
*.net
*.op.raw
*.raw
*.log

#Temp files from CST sim
**/temp/

#Altium History files:
*.~*.PrjPcb.Zip
*.~*.PcbDoc.Zip
